<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamification Server</title>
    <link rel="stylesheet" href="/vendor/bootstrap.css">
</head>

<body class="bg-dark">
        <p class="text-warning ml-3">
            Servidor de gamificacion con url "tal" y "tal" para hacer peticiones...
        </p>
</body>

</html>