<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
            <a class="nav-item text-primary nav-link" href="#!home">Home</a>
            <a class="nav-item text-primary nav-link" href="#!login">Login</a>
            <a class="nav-item text-primary nav-link" href="#!usuarios">usuarios</a>
            <a class="nav-item text-primary nav-link" href="#!productos">productos</a>
        </div>
    </div>
</nav>